#top {
    
    background-color:#666 ;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 50px;
    }

#bottom {
    text-align: center;
    position: relative;
    background-color: #666;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    height: 40px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin-top: 1px;
    min-height: 110px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#conteiner{
   width: 1350px; 
   margin-left: auto;
   margin-right: auto;
}

#divSesionUsuario
{
    background-color: #dddddd;
    position: inherit;
    right: 10px;
    top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
 }

#divSesionUsuario > span
{
    color: black;
    
}

#menu
{
 padding-top: 5px;
 padding-bottom: 5px;
}
