#top {
    background-image: url(../imagenes/logo/logo1.png);
    background-color:#CDCDCD ;
    height: 94px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 0px 5px 0px;
    }

#bottom {
    text-align: center;
    clear: both;
    background-color: #CDCDCD;
    margin: 5px 0px 0px 0px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    
}

#left {
    float: left;
    background-color: #ece3a5;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    margin-top: 1px;
    min-height: 110px;
}

.left_content {
    background-color: #dddddd;
    padding: 0px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 0px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#conteiner{
   width: 1350px; 
   margin-left: auto;
   margin-right: auto;
}

#divSesionUsuario
{
    background-color: #dddddd;
    position: inherit;
    right: 10px;
    top: 30px;
    border-radius: 5px 5px 5px 5px;
    border-color: red;
 }

#divSesionUsuario > span
{
    color: black;
}

#bottom > span
{
    color: black;
}

#menu
{
 padding-top: 5px;
 padding-bottom: 5px;
}


