body{

    
    background-color:menu;
  
}

.conteinerlogin{
    margin-right:auto;
    margin-left: -40%;
    width:400px;
    margin-top: 15%;
    padding: 5px;
    font-size: 85%;
 
     border-radius: 5px 5px 5px 5px;
}

 

.ui-state-default .icon-login{
    background-image: url(../imagenes/iconos/Login.png);
    }

 #cabeceraLogin{
        background-color: #CDCDCD;
	height: 94px;
        background-image: url(../imagenes/logo/logo1.png);
        background-repeat: no-repeat;
        border-radius: 5px 5px 5px 5px;
    }
    
    #contenedorLogin{
        width: 980px;
        background-color: #999;
        border-radius: 5px 5px 5px 5px;
        margin-right: auto;
	margin-left: auto;
    }
    
    
    #contenedorLoginIzq{
        float: left;
    }
   
     #contenedorLoginDerecha{
        float: right;
        
    }
    
    
    #pieLogin{
        background-color: #cdcdcd;
        clear: both;
	height: 60px;
        text-align: center;
      margin-top: 36%;
      border-radius: 5px 5px 5px 5px;  
    }
    
    #contenedorGeneral{
        
    }
    
  .gradient {
  background-image:
    radial-gradient(
      yellow,
      #f06d06
    );
}
